@font-face {
  font-family: 'ruizi';
  src: url('../fonts/ruizi.ttf') format('truetype');
}
@font-face {
  font-family: 'alibaba';
  src: url('../fonts/alibaba.otf') format('truetype');
}
@font-face {
  font-family: 'yaoshe';
  src: url('../fonts/yaoshe.ttf') format('truetype');
}
@font-face {
  font-family: 'siyuan';
  src: url('../fonts/siyuan.otf') format('truetype');
}
@font-face {
  font-family: 'zaozi';
  src: url('../fonts/zaozi.ttf') format('truetype');
}
